---
export interface Props {
  type?: string;
}

const { type = 'section' } = Astro.props;
---

<aside class="under-construction">
  <h1>This {type} is WIP</h1>

  <p>
    You are free to explore the materials, but beware
    they are not complete, might contain errors and will change in the future.
  </p>
</aside>

<style>
  .under-construction {
    line-height: 1.3;
    border: 2px dashed #b55151;
    padding: 10px;
  }

  .under-construction>h1::before{
    content: '🚧 '
  }
</style>
